# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

env

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/mojo.iml
.idea/workspace.xml
.idea/dataSources/02e7c35f-86bf-4f2f-b93f-9c4469e028c0/_src_/
.idea/dataSources/02e7c35f-86bf-4f2f-b93f-9c4469e028c0/_staging_/

